<!doctype html>
<head>
	<title>pytRobot</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>pytRobot</h1>

<div class='stream'>
	{% if is_stream %}
	<div class='stream_img'>
		<img src="http://raspberrypi.local:8080/?action=stream" />
	</div>
	{% else %}
	<div class='stream_img'>
		<img src="{{ url_for('static', filename='nostream.png') }}" />
	</div>
	{% endif %}

	{% with messages = get_flashed_messages() %}
  		{% if messages %}
    	<div class='flashes'>
    		{% for message in messages %}
      			{{ message }}
    		{% endfor %}
		</div>
  		{% endif %}
	{% endwith %}

	<div class='controls'>
		<div class='dir_div'>
			<span class='directions'>
				<a class='dir_button' href='/move/left/'>Left</a>
				<a class='dir_button' href='/move/forward/'>Forward</a>
				<a class='dir_button' href='/move/right/'>Right</a>
			</span>
		</div>

		<div class='stream_div'>
			<span>
				<a class='stream_on' href='/start_stream'>Start stream</a>
				<a class='stream_off' href='/stop_stream'>Stop stream</a>
			</span>	
		</div>
	</div>
</div>

<div class='sys_info'>
	<h3> Nodename: {{ sys_info.nodename }} </h3>
	<span> OS: {{ sys_info.os }} (kernel: {{ sys_info.kernel }}) </span>
	<br>
	<span>Uptime: {{ sys_info.uptime }} </span>

	{% if sys_info.interfaces | length > 0 %}
	<h3>Interfaces</h3>

	{% for key, value in sys_info.interfaces.items() %}
	<div class='interface'>
		<h4>{{ key }}:</h4>
		<span> IP: {{ value.ip }} </span>
		<span> HWaddr: {{ value.hwaddr }}</span>
	</div>
	{% endfor %}
	{% endif %}
</div>
</body>