h1, h2, h3 {color: #1565C0;}
h4 {color: #00796b;}

body{background-color: #e3f2fd;}

div.stream
{
	display: inline;
	float: left;	
}

div.sys_info, div.controls, div.flashes{
	border: solid 4px #666;
	background-color: #f0f0f0;
	color:#545454;
}

div.flashes
{
	margin-bottom: 5px;
	padding: 15px;
	text-align: center;
	padding: 5px;
}

div.controls {
	padding: 15px;
	padding-bottom: 35px;
}

div.dir_div
{
	float:left;
}

div.stream_div
{
	float:right;
}

div.sys_info
{
	margin-left: 10px;
	padding: 15px;
	display: inline-block;
}

.dir_button
{
	border:none;
	padding:10px;
	color:#fff;
	background-color: #90CAF9;
	text-decoration: none;
}

.dir_button:hover
{
	background-color: #64b5f6;
}

.stream_on
{
	border:none;
	padding:10px;
	color:#fff;
	background-color: #66bb6a;
	text-decoration: none;
}

.stream_on:hover {background-color: #4caf50}

.stream_off
{
	border:none;
	padding:10px;
	color:#fff;
	background-color: #EF9A9A;
	text-decoration: none;
}

.stream_off:hover {background-color: #e57373}